<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>DiSC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../static/images/favicon.ico"/>
  <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/mdb.css' %}">
  <link rel="stylesheet" href="{% static 'styles/home.css' %}">
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'styles/home.css' %}">
  <script src="{% static 'js/blockUI.js' %}"></script>
  <script src="{% static 'js/ConfigureScripts.js' %}"></script>
</head>
<body class="grey lighten-3">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">
        <a class="navbar-brand waves-effect" href=""target="_blank">
          <strong class="blue-text">DiS</strong>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect" onclick= "execClick(event)" href="" target="_blank">Live!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" onclick= "execClick(event)" href="" target="_blank">Update</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" onclick= "execClick(event)" href="" target="_blank">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" onclick= "execClick(event)" href="" download>Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="" target="_blank">About</a>
            </li>
          </ul>

          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="https://github.com/UMKC-BigDataLab/DiSC" class="nav-link border border-light rounded waves-effect" target="_blank">
                <i class="fa fa-github mr-2"></i>GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="sidebar-fixed position-fixed">
      <a class="img-fluid" href="http://localhost:8000/disc/" target="_blank">
        <strong class="blue-text img-fluid">DiSC</strong>
      </a>

      <div class="list-group list-group-flush"><br>
        <form method="post" enctype="multipart/form-data" class="form">
          {% csrf_token %}
          {% for field in form  %}
          <div class="form-group">
            <label class = "font-weight-bold tempFont">{{ field.label_tag }}</label><label>&nbsp;{{field.help_text}}</label>
            {{ field }}
          </div>
          {% endfor %}
          <div class="form-group font-weight-bold tempFont">
            Dataset:<br>
            <select class="form-control" name="select1" id="select1">
              <option value="Higgs">Higgs</option>
              <option value="Twitter">Twitter</option>
              <option value="Syn1">Syn Set 1</option>
              <option value="Syn2">Syn Set 2</option>
              <option value="Syn3">Syn Set 3</option>
              <option value="Upload">Data Upload</option>
            </select><br>

            Family To Visualize:<br><br>
            <select class="form-control" name="select2" id="select2">
              <option id = "Higgs" value="jet_1_eta|lepton_phi,m_lv">jet_1_eta|lepton_phi,m_lv</option>
              <option id = "Higgs" value="m_jj|jet_2_b-tag">m_jj|jet_2_b-tag</option>
              <option id = "Higgs" value="lepton_pT|lepton_eta">m_jj|jet_1_eta</option>
              <option id = "Higgs" value="m_jj|jet_1_eta">lepton_pT|lepton_eta</option>
              <option id = "Higgs" value="lepton_pT|lepton_eta,missing_energy_magnitude">lepton_pT|lepton_eta,missing_energy_magnitude</option>
              <option id = "Higgs" value="jet_2_b-tag|lepton_phi,m_wwbb">jet_2_b-tag|lepton_phi,m_wwbb</option>
              <option id = "Higgs" value="jet_2_b-tag|jet_3_phi,jet_4_phi">jet_2_b-tag|jet_3_phi,jet_4_phi</option>
              <option id = "Higgs" value="jet_2_eta|jet_1_pt,missing_energy_phi">jet_2_eta|jet_1_pt,missing_energy_phi</option>
              <option id = "Higgs" value="lepton_eta|jet_2_b-tag,jet_4_b-tag">lepton_eta|jet_2_b-tag,jet_4_b-tag</option>

              <option id = "Twitter" value="zh|az-Cyrl,gu,sr-Latn">zh|az-Cyrl,gu,sr-Latn</option>
              <option id = "Twitter" value="am|az-Cyrl,de-CH">am|az-Cyrl,de-CH</option>
              <option id = "Twitter" value="az-Cyrl|he,te,zh-HK">az-Cyrl|he,te,zh-HK</option>
              <option id = "Twitter" value="be|am,he,xx-lc">be|am,he,xx-lc</option>
              <option id = "Twitter" value="de-AT|ca,en-gb,ms-Arab">de-AT|ca,en-gb,ms-Arab</option>
              <option id = "Twitter" value="en-GB|TR,az-Cyrl,ht">en-GB|TR,az-Cyrl,ht</option>
              <option id = "Twitter" value="en-IN|ae,mn,nl-BE">en-IN|ae,mn,nl-BE</option>
              <option id = "Twitter" value="mr|de-AT,en-gb,hr">mr|de-AT,en-gb,hr</option>
              <option id = "Twitter" value="pa|ckb,fi,fr">pa|ckb,fi,fr</option>

              <option id = "Syn1" value="abducted|APITConnect,AdoptaNoCompres,Aquarius">abducted|APITConnect,AdoptaNoCompres,Aquarius</option>
              <option id = "Syn1" value="AskXavier|AraguaSiProduce,AskNathan,aaronpersky">AskXavier|AraguaSiProduce,AskNathan,aaronpersky</option>
              <option id = "Syn1" value="Aggressive|ALI,ATP,AcheDin">Aggressive|ALI,ATP,AcheDin</option>
              <option id = "Syn1" value="AbdosEnBeton|AGL,ALDUBSecrets,AbsolutelyFabulous">AbdosEnBeton|AGL,ALDUBSecrets,AbsolutelyFabulous</option>
              <option id = "Syn1" value="Auto|AirFrance,acoustics">Auto|AirFrance,acoustics</option>
              <option id = "Syn1" value="Arrow|ATP,AshesToAshes,art">Arrow|ATP,AshesToAshes,art</option>
              <option id = "Syn1" value="alwayswill|ABC,ASMSG,Almighty">alwayswill|ABC,ASMSG,Almighty</option>
              <option id = "Syn1" value="abcDrBchat|Assange,acoustics,amwriting">abcDrBchat|Assange,acoustics,amwriting</option>
              <option id = "Syn1" value="authors|Adventure,ArgueWithAVet,anklemonitor4HRC">authors|Adventure,ArgueWithAVet,anklemonitor4HRC</option>

              <option id = "Syn2" value="abducted|APITConnect,AdoptaNoCompres,Aquarius">abducted|APITConnect,AdoptaNoCompres,Aquarius</option>
              <option id = "Syn2" value="AskXavier|AraguaSiProduce,AskNathan,aaronpersky">AskXavier|AraguaSiProduce,AskNathan,aaronpersky</option>
              <option id = "Syn2" value="Aggressive|ALI,ATP,AcheDin">Aggressive|ALI,ATP,AcheDin</option>
              <option id = "Syn2" value="AbdosEnBeton|AGL,ALDUBSecrets,AbsolutelyFabulous">AbdosEnBeton|AGL,ALDUBSecrets,AbsolutelyFabulous</option>
              <option id = "Syn2" value="Auto|AirFrance,acoustics">Auto|AirFrance,acoustics</option>
              <option id = "Syn2" value="Arrow|ATP,AshesToAshes,art">Arrow|ATP,AshesToAshes,art</option>
              <option id = "Syn2" value="alwayswill|ABC,ASMSG,Almighty">alwayswill|ABC,ASMSG,Almighty</option>
              <option id = "Syn2" value="abcDrBchat|Assange,acoustics,amwriting">abcDrBchat|Assange,acoustics,amwriting</option>
              <option id = "Syn2" value="authors|Adventure,ArgueWithAVet,anklemonitor4HRC">authors|Adventure,ArgueWithAVet,anklemonitor4HRC</option>

              <option id = "Syn3" value="abducted|APITConnect,AdoptaNoCompres,Aquarius">abducted|APITConnect,AdoptaNoCompres,Aquarius</option>
              <option id = "Syn3" value="AskXavier|AraguaSiProduce,AskNathan,aaronpersky">AskXavier|AraguaSiProduce,AskNathan,aaronpersky</option>
              <option id = "Syn3" value="Aggressive|ALI,ATP,AcheDin">Aggressive|ALI,ATP,AcheDin</option>
              <option id = "Syn3" value="AbdosEnBeton|AGL,ALDUBSecrets,AbsolutelyFabulous">AbdosEnBeton|AGL,ALDUBSecrets,AbsolutelyFabulous</option>
              <option id = "Syn3" value="Auto|AirFrance,acoustics">Auto|AirFrance,acoustics</option>
              <option id = "Syn3" value="Arrow|ATP,AshesToAshes,art">Arrow|ATP,AshesToAshes,art</option>
              <option id = "Syn3" value="alwayswill|ABC,ASMSG,Almighty">alwayswill|ABC,ASMSG,Almighty</option>
              <option id = "Syn3" value="abcDrBchat|Assange,acoustics,amwriting">abcDrBchat|Assange,acoustics,amwriting</option>
              <option id = "Syn3" value="authors|Adventure,ArgueWithAVet,anklemonitor4HRC">authors|Adventure,ArgueWithAVet,anklemonitor4HRC</option>

              <option id = "Upload" value="zh|az-Cyrl,gu,sr-Latn">zh|az-Cyrl,gu,sr-Latn</option>
              <option id = "Upload" value="am|az-Cyrl,de-CH">am|az-Cyrl,de-CH</option>
              <option id = "Upload" value="az-Cyrl|he,te,zh-HK">az-Cyrl|he,te,zh-HK</option>
              <option id = "Upload" value="be|am,he,xx-lc">be|am,he,xx-lc</option>
              <option id = "Upload" value="de-AT|ca,en-gb,ms-Arab">de-AT|ca,en-gb,ms-Arab</option>
              <option id = "Upload" value="en-GB|TR,az-Cyrl,ht">en-GB|TR,az-Cyrl,ht</option>
              <option id = "Upload" value="en-IN|ae,mn,nl-BE">en-IN|ae,mn,nl-BE</option>
              <option id = "Upload" value="mr|de-AT,en-gb,hr">mr|de-AT,en-gb,hr</option>
              <option id = "Upload" value="pa|ckb,fi,fr">pa|ckb,fi,fr</option>
            </select>
          </div>
        </div>
        <button type="submit" id="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </header>

  <main class="pt-5 mx-lg-5"><br><br><br><br><br><br><br><br>
    <div class="container-fluid mt-5">
      <div class="row wow fadeIn">
        <div class="col-md-12 mb-4"></div>
      </div>
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-header text-center tempFont3">
              <h2 class = "font-weight-bold">Bayesian network on coronary dataset.</h2>
            </div>
            <div class="card-body">
              <img src="../static/images/fig-coronary.png" class="center c1"></img>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-header text-center tempFont2">
              <h2 class = "font-weight-bold">Bayesian network on alarm dataset.</h2>
            </div>
            <div class="card-body">
              <img src="../static/images/fig-alarm-network.png" class="center c2"></img>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
